<div>
    <mat-card>
        <mat-card-title>Thêm phim mới</mat-card-title>
        <mat-card-content>
            <form action="" [formGroup]="formAddMovies" (ngSubmit)="addMovies()">
                <div class="d-flex flex-column w-75">
                    <mat-form-field>
                        <mat-label>Tên phim</mat-label>
                        <input
                                type="text"
                                matInput
                                placeholder="Enter your account"
                                formControlName="tenPhim"
                        />
                        <mat-error> This field is <strong>required</strong> </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Bí danh</mat-label>
                        <input
                                type="text"
                                matInput
                                placeholder="Enter your account"
                                formControlName="biDanh"
                        />
                        <mat-error> This field is <strong>required</strong> </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Trailer</mat-label>
                        <input
                                type="text"
                                matInput
                                placeholder="Enter your account"
                                formControlName="trailer"
                        />
                        <mat-error> This field is <strong>required</strong> </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Mô tả</mat-label>
                        <textarea
                                matInput
                                placeholder="Enter your account"
                                formControlName="moTa"
                                rows="6"
                        ></textarea>
                        <mat-error> This field is <strong>required</strong> </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Đánh giá</mat-label>
                        <input
                                type="number"
                                matInput
                                placeholder="Enter your account"
                                formControlName="danhGia"
                        />
                        <mat-error> This field is <strong>required</strong> </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Ngày khởi chiếu</mat-label>
                        <input
                                type="text"
                                matInput
                                placeholder="Enter your account"
                                formControlName="ngayKhoiChieu"
                        />
                        <mat-error> This field is <strong>required</strong> </mat-error>
                    </mat-form-field>

                        <label>Hình Ảnh</label>
                        <input
                                type="file"
                                placeholder="Enter your account"
                                (change)="uploadImage($event)"
                        />
                </div>
            </form>
            <mat-card-footer class="mt-3 mb-5 text-center">
                <button class="mr-3" mat-button mat-raised-button (click)="formAddMovies.reset()" color="accent">Hủy</button>
                <button mat-button mat-raised-button color="primary" (click)="addMovies()">Thêm</button>
            </mat-card-footer>
        </mat-card-content>
    </mat-card>
</div>
