<div class="theaters__content__detail" *ngIf="groupTheater">
  <mat-tab-group>
    <mat-tab *ngFor="let item of groupTheater">
      <ng-template mat-tab-label>
        <p>
          <span style="color: #e71a0f; line-height: 1.4">{{
            groupTheater.maHeThongRap
          }}</span>
          {{ item.tenCumRap }}
        </p>
      </ng-template>
      <div >
        <button routerLink="/home/booking/{{showtime.maLichChieu}}" class="btn btn-outline-success m-3 text-dark"
                *ngFor="let
        showtime of
        item.lichChieuPhim">{{
          showtime.ngayChieuGioChieu |
          date: "medium" }}</button>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
