<footer class="footer container-fluid">
  <div class="footer__content container">
    <div class="row footer__content__top">
      <div class="footer__top col-12">
        <div class="row">
          <div class="col-md-2 d-sm-block d-none">
            <h4>TIX</h4>
            <p>FAQ</p>
            <p>Brand Guidelines</p>
          </div>
          <div class="col-md-2 col-12 footer__top__thoathuan">
            <p>Thỏa thuận sử dụng</p>
            <p>Chính sách bảo mật</p>
          </div>
          <div class="col-md-4 footer__top__partner d-none d-lg-block">
            <h4>Đối tác</h4>
            <div>
              <img src="./assets/image/logo/logo-cgv-1.jpg" alt="">
              <img src="./assets/image/logo/logo-megags.png" alt="">
              <img src="./assets/image/logo/logo-lotte.png" alt="">
              <img src="./assets/image/logo/logo-galaxy.png" alt="">
              <img src="./assets/image/logo/logo-ddc.png" alt="">
            </div>
            <div>
              <img src="./assets/image/logo/logo-cgv-1.jpg" alt="">
              <img src="./assets/image/logo/logo-megags.png" alt="">
              <img src="./assets/image/logo/logo-lotte.png" alt="">
              <img src="./assets/image/logo/logo-galaxy.png" alt="">
              <img src="./assets/image/logo/logo-ddc.png" alt="">
            </div>
            <div>
              <img src="./assets/image/logo/logo-cgv-1.jpg" alt="">
              <img src="./assets/image/logo/logo-megags.png" alt="">
              <img src="./assets/image/logo/logo-lotte.png" alt="">
              <img src="./assets/image/logo/logo-galaxy.png" alt="">
              <img src="./assets/image/logo/logo-ddc.png" alt="">
            </div>
            <div>
              <img src="./assets/image/logo/logo-cgv-1.jpg" alt="">
              <img src="./assets/image/logo/logo-megags.png" alt="">
              <img src="./assets/image/logo/logo-lotte.png" alt="">
              <img src="./assets/image/logo/logo-galaxy.png" alt="">
              <img src="./assets/image/logo/logo-ddc.png" alt="">
            </div>
          </div>
          <div class="col-2 d-sm-block d-none">
            <h4>MOBILE APP</h4>
            <i class="fab fa-apple"></i>
            <i class="fab fa-android"></i>
          </div>
          <div class="col-md-2 d-sm-block d-none">
            <h4>SOCIAL</h4>
            <i class="fab fa-facebook"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="row footer__content__bottom">
      <div class="col-md-1 col-6">
        <img src="./assets/image/zion-logo.jpg" alt="">
      </div>
      <div class="col-md-9 d-none d-sm-block">
        <p style="color:white;">TIX – SẢN PHẨM CỦA CÔNG TY CỔ PHẦN ZION</p>
        <p>Địa chỉ: Z06 Đường số 13, Phường Tân Thuận Đông, Quận 7, Tp. Hồ Chí Minh, Việt Nam.</p>
        <p>Giấy chứng nhận đăng ký kinh doanh số: 0101659783, đăng ký thay đổi lần thứ 30, ngày 22 tháng 01 năm 2020 do Sở kế hoạch và đầu tư Thành phố Hồ Chí Minh cấp.</p>
        <p>Số Điện Thoại (Hotline): 1900 545 436</p>
        <p>Email: <span style="color: #FB4226">support@tix.vn</span></p>
      </div>
      <div class="col-md-2 col-6 d-flex justify-content-end">
        <img src="./assets/image/logo-thong-bao.png" alt="">
      </div>
    </div>
  </div>

</footer>
