<h1 mat-dialog-title>Chỉnh sửa thông tin người dùng</h1>
<div mat-dialog-content>
  <div class="container add-new-user">
    <mat-card>
      <mat-card-content>
        <form action="" class="register__form w-50" [formGroup]="editUserForm">
          <mat-form-field>
            <mat-label><mat-icon>person</mat-icon> Tài khoản </mat-label>
            <input
              type="text"
              matInput
              placeholder="Enter your account"
              formControlName="taiKhoan"
            />
            <mat-error> This field is <strong>required</strong> </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Họ tên</mat-label>
            <input
              type="text"
              matInput
              placeholder="Enter your name"
              formControlName="hoTen"
            />
            <mat-error> This field is <strong>required</strong> </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Mã Nhóm</mat-label>
            <input
              type="text"
              matInput
              placeholder="Enter your mã nhóm"
              formControlName="maNhom"
            />
            <mat-error> This field is <strong>required</strong> </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Mật Khẩu</mat-label>
            <input
              type="password"
              matInput
              placeholder="Enter your password"
              formControlName="matKhau"
              minlength="6"
            />
            <mat-hint align="end"> / 6</mat-hint>
            <mat-error> This field is <strong>required</strong> </mat-error>
            <mat-error>Password must 6 character</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label><mat-icon>email</mat-icon> Email</mat-label>
            <input
              type="email"
              matInput
              placeholder="Enter your email"
              formControlName="email"
              required
            />
            <mat-error> This field is <strong>required</strong> </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label><mat-icon>phone</mat-icon> Số điện thoại</mat-label>
            <input
              type="text"
              matInput
              placeholder="Enter your phone number"
              formControlName="soDt"
            />
            <mat-error> This field is <strong>required</strong> </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Mã Loại người dùng</mat-label>
            <mat-select formControlName="maLoaiNguoiDung">
              <mat-option> </mat-option>
            </mat-select>
            <mat-error> This field is <strong>required</strong> </mat-error>
          </mat-form-field>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div mat-dialog-actions class="row">
  <div class="mx-auto">
    <button
      mat-button
      mat-raised-button
      color="primary"
      [mat-dialog-close]="false"
    >
      Cancel
    </button>
    <button
      mat-button
      mat-raised-button
      color="accent"
      [mat-dialog-close]="true"
      cdkFocusInitial
    >
      Ok, Login Now
    </button>
  </div>
</div>
