<div class="container mt-5">
  <div class="detail" *ngIf="movieDetail">
    <div class="detail__info">
      <div class="row">
        <div class="col-3">
          <img [src]="movieDetail.hinhAnh" alt="" />
        </div>
        <div class="col-6">
          <p class="movies-name">{{ movieDetail.tenPhim }}</p>
          <p class="description">{{ movieDetail.moTa }}</p>

          <p class="opening-day">
            Ngày khởi chiếu: {{ movieDetail.ngayKhoiChieu | date }}
          </p>
          <div>
            <button class="btn btn-success">Mua vé</button>
          </div>
        </div>
        <div class="col-3 text-center">
          <circle-progress
            [percent]="movieDetail.danhGia*10"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="10"
            [title]="title(movieDetail.danhGia)"
            [space]="-10"
            [radius]="40"
          ></circle-progress>
          <p><strong>Đánh giá</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-theaters></app-theaters>

<!--biDanh: "13-reasons-why"-->
<!--danhGia: 10-->
<!--hinhAnh: "http://movie0706.cybersoft.edu.vn/hinhanh/13-reasons-why_gp01.jpg"-->
<!--maNhom: "GP01"-->
<!--maPhim: 1314-->
<!--moTa: "Armed with a super-suit with the astonishing ability to shrink in scale but increase in strength, cat burglar Scott Lang must embrace his inner hero and help his mentor, Dr. Hank Pym, plan and pull off a heist that will save the world."-->
<!--ngayKhoiChieu: "2020-08-28T00:00:00"-->
<!--tenPhim: "13 reasons why"-->
<!--trailer: "https://www.youtube.com/embed/1HpZevFifuo"container-->
