<div class="container register">
  <mat-card>
    <mat-card-header>Đăng ký</mat-card-header>
    <mat-card-content>
      <form action="" class="register__form w-25" [formGroup]="registerForm" (ngSubmit)="handleRegister()">
        <mat-form-field>
          <mat-label><mat-icon>person</mat-icon> Tài khoản </mat-label>
          <input
            type="text"
            matInput
            placeholder="Enter your account"
            formControlName="taiKhoan"
          />
          <mat-error> This field is <strong>required</strong> </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Họ tên</mat-label>
          <input
            type="text"
            matInput
            placeholder="Enter your name"
            formControlName="hoTen"
          />
          <mat-error> This field is <strong>required</strong> </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Mật Khẩu</mat-label>
          <input
            type="password"
            matInput
            placeholder="Enter your password"
            formControlName="matKhau"
            minlength="6"
          />
          <mat-hint align="end">{{registerForm.value.matKhau.length}} / 6</mat-hint>
          <mat-error *ngIf="registerForm.hasError('required')"> This field is <strong>required</strong> </mat-error>
          <mat-error *ngIf="!registerForm.hasError('minLength')">Password must 6 character</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label><mat-icon>email</mat-icon> Email</mat-label>
          <input
            type="email"
            matInput
            placeholder="Enter your email"
            formControlName="email"
            required
          />
          <mat-error> This field is <strong>required</strong> </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label><mat-icon>phone</mat-icon> Số điện thoại</mat-label>
          <input
            type="text"
            matInput
            placeholder="Enter your phone number"
            formControlName="soDt"
          />
          <mat-error> This field is <strong>required</strong> </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Mã Loại người dùng</mat-label>
          <input
            type="text"
            matInput
            placeholder="Enter your type of user"
            formControlName="maLoaiNguoiDung"
          />
          <mat-error> This field is <strong>required</strong> </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary">Đăng ký</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
