/* <-- Start Blog Section CSS --> */
.blog {
  h3 {
    display: inline-block;
    cursor: pointer;
    margin-right: 30px;
    &:hover {
      transform: scale(1.2, 1.2);
      transition: all 0.5s;
    }
  }
  img {
    width: 100%;
  }
  @media screen and (max-width: 768px) {
    &__list {

      h3 {
        font-size: 24px;
      }
    }
    &__content {
      .col-12 {
        padding: 10px!important;
      }
      h4 {
        font-size: 16px;
        margin: 10px 0;
      }
      p {
        font-size: 13px;
      }
    }
  }
  @media screen and (max-width: 425px) {
    h3 {
      font-size: 16px;
    }
  }
}
/* <-- End Blog Section CSS --> */